.logoImg{
    height: 80%;
}

.layui-footer{
    text-align: center;
}

.iconfont{
    margin-right: 8px;
}

.layui-icon{
    margin-left: 20px;
    margin-right: 8px;
}

iframe{
    width: 100%;
    height: 100%;
}

.layui-body{
    overflow: hidden;
}

/* 用户头像 */
.layui-side-scroll .userAvatar{
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-top: 1px solid rgb(40, 43, 51);
    border-bottom: 1px solid rgb(40, 43, 51);
}
.userAvatar img{
    width: 40px;
    height: 40px;
}

.textAvatar{
    position: relative;
    top: 4px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: rgb(0, 150, 136);
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}